.dropdown-menuat{
    width: 200px;
    position: absolute;
    top: 70px;
    list-style: none;
    text-align: start;
    z-index: 999;
}

.dropdown-menuat li {
    background-color: #1888ff;
    cursor: pointer;
}

.dropdown-menuat  li:hover{
    background: #5cabff;
}

.dropdown-menuat.clickedat {
    display: none;
}

.dropdown-linkat{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}