.boton{
    width: 150px;
}

.bgcolort{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 28%, rgba(125,26,12,1) 78%);
}

.tamaño-titulo{
    font-size: 50px;
}

.tamaño-intro{
    font-size: 19px;
}