.error{
    color: red;
}
input{
    padding: 10px 40px;
    border-radius: 5px;
}

textarea{
    padding: 5px;
    border-radius: 5px;
}

select{
    padding: 8px 30px;
    margin-right: 20px;
    border-radius: 8px;
}

.input-at{
    margin-top: 10px;
}

.textat{
    width: 100%;
}

.bgcolor{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.9447129193474265) 28%, rgba(99,31,142,1) 99%);
}

@media screen and (min-width: 825px) {
    .input-at{
        width: 40% !important;
        margin-top: 0 !important;
    }
    #contenedor-input{
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
    .textat{
        width: 100% !important;
    }
    }

