.boton{
    width: 150px;
}

.bgcolorp{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 28%, rgba(183,190,0,1) 78%);
}

.tamaño-titulo{
    font-size: 50px;
}

.tamaño-intro{
    font-size: 19px;
}